In [1]:
# import sys
# sys.path.insert(0, '/home/claudio/tesi/coding')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from myutils.utilities import *

In [2]:
# txns_fn = '/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission/sarafu_xDAI/sarafu_txns_20200125-20210615.csv'
txns_fn = '/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission(1)/sarafu_xDAI/sarafu_txns_20200125-20210615.csv'
txns = pd.read_csv(txns_fn,sep=",",header=0,dtype={"id": "int",
                                                 "timeset": "string",
                                                 "transfer_subtype": "category",
                                                 'source': "string",
                                                 'target': "string",
                                                 'weight': "float",
                                                 'token_name': "category",
                                                 'token_address': "string",
                                                 })

txns['date'] = pd.to_datetime(txns.timeset)
txns = txns.sort_values(by='date')
txns = txns.set_index(txns.date)
txns.drop_duplicates(keep = 'first', inplace=True)
# del txns.index.name
# txns = txns.reset_index()
print('# txns =',len(txns))
#
txns.info()

# txns = 930161
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 930161 entries, 2020-01-25 19:13:17.731529 to 2021-06-15 05:00:30.887568
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                930161 non-null  int64
 1   timeset           930161 non-null  string
 2   transfer_subtype  930161 non-null  category
 3   source            930159 non-null  string
 4   target            930159 non-null  string
 5   weight            930161 non-null  float64
 6   token_name        930161 non-null  category
 7   token_address     930161 non-null  string
 8   date              930161 non-null  datetime64[ns]
dtypes: category(2), datetime64[ns](1), float64(1), int64(1), string(4)
memory usage: 58.5 MB

In [3]:
# users_fn = '/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission/sarafu_xDAI/sarafu_users_20210615.csv'
users_fn = '/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission(1)/sarafu_xDAI/sarafu_users_20210615.csv'
users = pd.read_csv(users_fn,  # assuming 'user_fn' is your file name
                      sep=",",
                      header=0,
                      dtype={
                          "id": "int",
                          "start": "string",
                          "final_bal": "float",
                          "gender": "category",
                          "area_name": "string",
                          "area_type": "category",
                          "held_roles": "category",
                          "business_type": "category",
                          "old_POA_blockchain_address": "string",
                          "xDAI_blockchain_address": "string",
                          "ovol_in": "float",
                          "ovol_out": "float",
                          "otxns_in": "int",
                          "otxns_out": "int",
                          "ounique_in": "int",
                          "ounique_out": "int",
                          "svol_in": "float",
                          "svol_out": "float",
                          "stxns_in": "int",
                          "stxns_out": "int",
                          "sunique_in": "int",
                          "sunique_out": "int"
                      })

In [4]:
# Remove duplicates by keeping the first occurrence
users.drop_duplicates(subset='xDAI_blockchain_address', keep='first', inplace=True)

# Check your work
print(users.head())

   id                start     final_bal  gender       area_name  area_type  \
0   3  2018-10-21 14:20:57     57.470892    Male    Misc Nairobi      urban
1   4  2018-10-21 15:38:30  10853.966002    Male          Kilifi  periurban
2   2  2018-10-23 09:09:58     80.870000  Female          Kilifi  periurban
3   5  2018-10-23 14:10:27  43228.282576    Male  Mukuru Nairobi      urban
4   9  2018-10-24 08:17:32    595.319801    Male    Misc Nairobi      urban

    held_roles business_type                  old_POA_blockchain_address  \
0  BENEFICIARY        system  0x3cc06c32c88aba379c4bbd4c9ebda585d7574bbf
1  BENEFICIARY          food  0xbe9e9a4b6bddec171bced854615b861479933e44
2  TOKEN_AGENT        system  0xe6d39ad7c6be64673ec18af4a2eb02f2bea88e15
3  BENEFICIARY        labour  0x3700dd6c99f396c48e6658102ab2e18dc776d243
4  BENEFICIARY          food  0xf87ea990cc4a20cfeb1c806ff7f3e486e06ca786

                      xDAI_blockchain_address  ...  otxns_in  otxns_out  \
0  0xC1697C1326fD192438515fE2F7E4cCb0C705C5d2  ...         4          6
1  0xBAB77A20a757e8438DfaBF01D5F36DD12d862B31  ...        33          8
2  0x245fc81fe385450Dc0f4787668e47c903C00b0A1  ...       275         38
3  0xD95954e3fCd2f09A6Be5931D24f731eFa63BF435  ...        43          6
4  0xeFad5486432a5b4F2b31B13520b7C1393e87f531  ...         3          8

   ounique_in  ounique_out   svol_in  svol_out  stxns_in  stxns_out  \
0           2            1       0.0    9007.0         0          1
1           2            1   76850.1  108627.0       121        103
2         125            1       0.0   16766.0         0          2
3           5            1  317816.3  339096.0       339        312
4           2            1     330.0       0.0         8          0

   sunique_in  sunique_out
0           0            1
1          56           47
2           0            2
3         211          157
4           8            0

[5 rows x 22 columns]

In [5]:
# Step 1: Check for duplicates
if users['xDAI_blockchain_address'].duplicated().any():
    print("Duplicates found in xDAI_blockchain_address. You need to resolve these.")
    # Display duplicates for review
    display(users[users['xDAI_blockchain_address'].duplicated(keep=False)])
else:
    print("No duplicates found. Safe to proceed with setting index.")

# Step 2: Assuming you have resolved duplicates, you might have code like:
# users = <your code to handle duplicates>

No duplicates found. Safe to proceed with setting index.

In [6]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54976 entries, 0 to 54998
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          54976 non-null  int64
 1   start                       54976 non-null  string
 2   final_bal                   54967 non-null  float64
 3   gender                      54976 non-null  category
 4   area_name                   54976 non-null  string
 5   area_type                   54976 non-null  category
 6   held_roles                  54883 non-null  category
 7   business_type               54976 non-null  category
 8   old_POA_blockchain_address  8354 non-null   string
 9   xDAI_blockchain_address     54975 non-null  string
 10  ovol_in                     54976 non-null  float64
 11  ovol_out                    54976 non-null  float64
 12  otxns_in                    54976 non-null  int64
 13  otxns_out                   54976 non-null  int64
 14  ounique_in                  54976 non-null  int64
 15  ounique_out                 54976 non-null  int64
 16  svol_in                     54976 non-null  float64
 17  svol_out                    54976 non-null  float64
 18  stxns_in                    54976 non-null  int64
 19  stxns_out                   54976 non-null  int64
 20  sunique_in                  54976 non-null  int64
 21  sunique_out                 54976 non-null  int64
dtypes: category(4), float64(5), int64(9), string(4)
memory usage: 8.2 MB

In [7]:
formats = ['%Y-%m-%d %H:%M:%S.%f', '%Y-%m-%d %H:%M:%S', '%Y-%m-%d']
for fmt in formats:
    users.start = pd.to_datetime(users.start, format=fmt, errors='coerce').fillna(users.start)
users = users.sort_values(by='start')

In [8]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54976 entries, 0 to 54998
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          54976 non-null  int64
 1   start                       54976 non-null  datetime64[ns]
 2   final_bal                   54967 non-null  float64
 3   gender                      54976 non-null  category
 4   area_name                   54976 non-null  string
 5   area_type                   54976 non-null  category
 6   held_roles                  54883 non-null  category
 7   business_type               54976 non-null  category
 8   old_POA_blockchain_address  8354 non-null   string
 9   xDAI_blockchain_address     54975 non-null  string
 10  ovol_in                     54976 non-null  float64
 11  ovol_out                    54976 non-null  float64
 12  otxns_in                    54976 non-null  int64
 13  otxns_out                   54976 non-null  int64
 14  ounique_in                  54976 non-null  int64
 15  ounique_out                 54976 non-null  int64
 16  svol_in                     54976 non-null  float64
 17  svol_out                    54976 non-null  float64
 18  stxns_in                    54976 non-null  int64
 19  stxns_out                   54976 non-null  int64
 20  sunique_in                  54976 non-null  int64
 21  sunique_out                 54976 non-null  int64
dtypes: category(4), datetime64[ns](1), float64(5), int64(9), string(3)
memory usage: 8.2 MB

## Corrections on 'Area Name' category

In [9]:
users.area_name.value_counts()

area_name
Kinango Kwale          23671
Mukuru Nairobi         10108
other                   6773
Kisauni Mombasa         6119
Misc Nairobi            5260
Misc Mombasa             966
Kilifi                   916
Nyanza                   641
Misc Rural Counties      303
Turkana                  219
Name: count, dtype: Int64

In [10]:
# 1. Kitui is a rural county. Since only 13 users are from Kitui, we decided to add them to other rural counties.
users_geo_areas = []
for i in users.index:
    area_name = users.area_name.loc[i]
    if area_name == 'Kitui':  
        users_geo_areas.append('Misc Rural Counties')
    if area_name != 'Kitui':
        users_geo_areas.append(area_name)
#
users['area_name'] = users_geo_areas
#
# 2. The name of Kakuma is substituted with the name of its county (Turkana).
users_geo_areas = []
for i in users.index:
    area_name = users.area_name.loc[i]
    if area_name == 'Kakuma':  
        users_geo_areas.append('Turkana')
    if area_name != 'Kakuma':
        users_geo_areas.append(area_name)
#
users['area_name'] = users_geo_areas
#
users.area_name.value_counts()

area_name
Kinango Kwale          23671
Mukuru Nairobi         10108
other                   6773
Kisauni Mombasa         6119
Misc Nairobi            5260
Misc Mombasa             966
Kilifi                   916
Nyanza                   641
Misc Rural Counties      303
Turkana                  219
Name: count, dtype: int64

## Corrections on 'Gender' category

In [11]:
users.gender.value_counts()

gender
Unknown    23354
Male       18209
Female     13389
Other         24
Name: count, dtype: int64

In [12]:
users.held_roles.value_counts()

held_roles
BENEFICIARY      54667
GROUP_ACCOUNT      211
ADMIN                2
TOKEN_AGENT          2
VENDOR               1
Name: count, dtype: int64

In [13]:
users.area_type.value_counts()

area_type
rural        24834
urban        22453
other         6773
periurban      916
Name: count, dtype: int64

In [14]:
users.business_type.value_counts()

business_type
labour         18544
food           12030
farming         9678
shop            5607
fuel/energy     2880
transport       1699
other           1696
water           1085
education        740
health           321
environment      312
savings          273
government        55
faith             39
system            17
Name: count, dtype: int64

### Fix missing other values in users dataframe

In [15]:
users.columns[users.isna().any()]

Index(['final_bal', 'held_roles', 'old_POA_blockchain_address',
       'xDAI_blockchain_address'],
      dtype='object')

In [16]:
users = users.sort_values(by='start')

In [17]:
# Add a CReation date IDentifier (crid)

l = []

for item in users.itertuples(index=True, name='Row'):
    l.append(item.Index)

users['crid'] = l

users

,id,start,final_bal,gender,area_name,area_type,held_roles,business_type,old_POA_blockchain_address,xDAI_blockchain_address,...,otxns_out,ounique_in,ounique_out,svol_in,svol_out,stxns_in,stxns_out,sunique_in,sunique_out,crid
0,3,2018-10-21 14:20:57.000000,57.470892,Male,Misc Nairobi,urban,BENEFICIARY,system,0x3cc06c32c88aba379c4bbd4c9ebda585d7574bbf,0xC1697C1326fD192438515fE2F7E4cCb0C705C5d2,...,6,2,1,0.0,9007.0,0,1,0,1,0
1,4,2018-10-21 15:38:30.000000,10853.966002,Male,Kilifi,periurban,BENEFICIARY,food,0xbe9e9a4b6bddec171bced854615b861479933e44,0xBAB77A20a757e8438DfaBF01D5F36DD12d862B31,...,8,2,1,76850.1,108627.0,121,103,56,47,1
2,2,2018-10-23 09:09:58.000000,80.870000,Female,Kilifi,periurban,TOKEN_AGENT,system,0xe6d39ad7c6be64673ec18af4a2eb02f2bea88e15,0x245fc81fe385450Dc0f4787668e47c903C00b0A1,...,38,125,1,0.0,16766.0,0,2,0,2,2
3,5,2018-10-23 14:10:27.000000,43228.282576,Male,Mukuru Nairobi,urban,BENEFICIARY,labour,0x3700dd6c99f396c48e6658102ab2e18dc776d243,0xD95954e3fCd2f09A6Be5931D24f731eFa63BF435,...,6,5,1,317816.3,339096.0,339,312,211,157,3
4,9,2018-10-24 08:17:32.000000,595.319801,Male,Misc Nairobi,urban,BENEFICIARY,food,0xf87ea990cc4a20cfeb1c806ff7f3e486e06ca786,0xeFad5486432a5b4F2b31B13520b7C1393e87f531,...,8,2,1,330.0,0.0,8,0,8,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54994,61450,2021-06-14 17:27:47.267723,0.000000,Unknown,other,other,BENEFICIARY,labour,<NA>,0xDe6a42F43947DB9583AC4Bc12665CCA819ADac39,...,0,1,0,0.0,50.0,0,1,0,1,54994
54995,61452,2021-06-14 17:34:17.144344,50.000000,Male,other,other,BENEFICIARY,farming,<NA>,0x6940a2CCE6cFdF7A6d2A6E4dCe08A6eAdb5bF107,...,0,1,0,0.0,0.0,0,0,0,0,54995
54996,61453,2021-06-14 18:08:54.760767,30.000000,Unknown,other,other,BENEFICIARY,labour,<NA>,0x7A310578dF8FB71A1896f99495c5162a14b3F558,...,0,1,0,0.0,20.0,0,1,0,1,54996
54997,61456,2021-06-14 18:57:40.790519,50.000000,Unknown,other,other,BENEFICIARY,labour,<NA>,0x05795cd7c61796B1C73F7b8DdF2E153AEC1bAC0f,...,0,1,0,0.0,0.0,0,0,0,0,54997
54998,61457,2021-06-14 21:14:54.285784,30.000000,Unknown,other,other,BENEFICIARY,labour,<NA>,0x9EE844A0cf2DD827604FC68Facb6c0259aF24CAe,...,0,1,0,0.0,20.0,0,1,0,1,54998

In [18]:
users.columns[users.isna().any()]

Index(['final_bal', 'held_roles', 'old_POA_blockchain_address',
       'xDAI_blockchain_address'],
      dtype='object')

In [19]:
# Filter the rows with missing 'old_POA_blockchain_address'
missing_poa_indices = users[users['old_POA_blockchain_address'].isna()].index

# Assign personalized values to those rows
users.loc[missing_poa_indices, 'old_POA_blockchain_address'] = [
    f'Nopoa_{i+1}' for i in range(len(missing_poa_indices))
]

In [20]:
users.old_POA_blockchain_address.isna().any()

np.False_

In [21]:
# Filter the rows with missing 'xDAI_blockchain_address'
missing_xdai_indices = users[users['xDAI_blockchain_address'].isna()].index

# Assign personalized values to those rows
users.loc[missing_xdai_indices, 'xDAI_blockchain_address'] = [
    f'Noxdai_{i+1}' for i in range(len(missing_xdai_indices))
]

In [22]:
users.xDAI_blockchain_address.isna().any()

np.False_

In [23]:
no_role = []
no_role.append(users.loc[users['held_roles'].isna()])

# Step 1: Add 'UnKnown' as a new category for the 'held_roles' column
users['held_roles'] = users['held_roles'].cat.add_categories(['UnKnown'])

# Step 2: Now safely assign 'UnKnown' to NaN values in the 'held_roles' column
users.loc[users['held_roles'].isna(), 'held_roles'] = 'UnKnown'

In [24]:
users.xDAI_blockchain_address.isna().any()

np.False_

In [25]:
users.columns[users.isna().any()]

Index(['final_bal'], dtype='object')

In [26]:
txns.columns[txns.isna().any()]

Index(['source', 'target'], dtype='object')

In [27]:
users.loc[users['xDAI_blockchain_address'].str.startswith('Noxdai')]

,id,start,final_bal,gender,area_name,area_type,held_roles,business_type,old_POA_blockchain_address,xDAI_blockchain_address,...,otxns_out,ounique_in,ounique_out,svol_in,svol_out,stxns_in,stxns_out,sunique_in,sunique_out,crid
21712,22140,2020-05-21 05:34:28.666021,0.0,Unknown,Kinango Kwale,rural,UnKnown,other,Nopoa_13346,Noxdai_1,...,1,0,1,5.0,0.0,1,0,1,0,21712

In [28]:
users.loc[21712].xDAI_blockchain_address

'Noxdai_1'

In [29]:
txns.loc[txns.target.isna()|txns.source.isna()]

,id,timeset,transfer_subtype,source,target,weight,token_name,token_address,date
date,,,,,,,,,
2020-05-24 18:19:57.480009,250207,2020-05-24 18:19:57.480009,STANDARD,0x889F9c52c6E996da730601593823D7a9F90959bc,<NA>,5.0,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-05-24 18:19:57.480009
2020-07-26 06:01:28.022752,413319,2020-07-26 06:01:28.022752,STANDARD,0x489F432512525f51E2f5A9aa42B9C571AC7fc467,<NA>,30.0,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-07-26 06:01:28.022752
2020-10-20 07:47:30.111970,587512,2020-10-20 07:47:30.111970,RECLAMATION,<NA>,0xEDA5C9B75Fdb3B9bdAB987A704632280Cf93084F,30.0,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-10-20 07:47:30.111970
2020-10-20 09:54:14.821358,590434,2020-10-20 09:54:14.821358,RECLAMATION,<NA>,0xEDA5C9B75Fdb3B9bdAB987A704632280Cf93084F,5.0,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-10-20 09:54:14.821358

It's just one account not having a xdai address

In [30]:
no_xdai_user = users.loc[21712]
fake_address = no_xdai_user.xDAI_blockchain_address

txns['target'] = txns['target'].fillna(fake_address)
txns['source'] = txns['source'].fillna(fake_address)

txns[txns.isna().any(axis=1)]

Empty DataFrame
Columns: [id, timeset, transfer_subtype, source, target, weight, token_name, token_address, date]
Index: []

### Add crid info to transaction dataset

In [31]:
address_to_crid = dict(zip(users.xDAI_blockchain_address, users.crid))

txns = txns.copy(deep=True)

txns.rename(columns={'source':'source_xdai', 'target':'target_xdai'}, inplace=True)

In [32]:

txns['source'] = txns['source_xdai'].map(address_to_crid)

txns['target'] = txns['target_xdai'].map(address_to_crid)

txns

,id,timeset,transfer_subtype,source_xdai,target_xdai,weight,token_name,token_address,date,source,target
date,,,,,,,,,,,
2020-01-25 19:13:17.731529,1,2020-01-25 19:13:17.731529,DISBURSEMENT,0xEDA5C9B75Fdb3B9bdAB987A704632280Cf93084F,0x245fc81fe385450Dc0f4787668e47c903C00b0A1,18000.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-01-25 19:13:17.731529,8356,2
2020-01-25 19:13:19.056070,2,2020-01-25 19:13:19.056070,DISBURSEMENT,0xEDA5C9B75Fdb3B9bdAB987A704632280Cf93084F,0xC1697C1326fD192438515fE2F7E4cCb0C705C5d2,9047.660892,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-01-25 19:13:19.056070,8356,0
2020-01-25 19:13:20.288346,3,2020-01-25 19:13:20.288346,DISBURSEMENT,0xEDA5C9B75Fdb3B9bdAB987A704632280Cf93084F,0xBAB77A20a757e8438DfaBF01D5F36DD12d862B31,25378.726002,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-01-25 19:13:20.288346,8356,1
2020-01-25 19:13:21.478850,4,2020-01-25 19:13:21.478850,DISBURSEMENT,0xEDA5C9B75Fdb3B9bdAB987A704632280Cf93084F,0xD95954e3fCd2f09A6Be5931D24f731eFa63BF435,4495.932576,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-01-25 19:13:21.478850,8356,3
2020-01-26 07:48:43.042684,5,2020-01-26 07:48:43.042684,DISBURSEMENT,0xBDB3Bc887C3b70586BC25D04d89eC802b897fC5F,0x4AB73CfaC1732a9DcD74BdB4C9605f21832D7C72,400.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2020-01-26 07:48:43.042684,8357,8358
...,...,...,...,...,...,...,...,...,...,...,...
2021-06-15 04:46:20.990469,1035657,2021-06-15 04:46:20.990469,STANDARD,0x8581cd31b9a2FD9EB86fAA8c231c6E4167A47749,0x11C959A35453A793e05a19361782f3e13845708b,10.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2021-06-15 04:46:20.990469,45861,47568
2021-06-15 04:47:58.072894,1035658,2021-06-15 04:47:58.072894,STANDARD,0x08637fE1D2D0F8FBdb2D3C2b8629aaD5E549A4b8,0x1CB6Ee7062C6Cd7CA8F0d71A84D7980b852E1648,10.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2021-06-15 04:47:58.072894,54370,44268
2021-06-15 04:57:59.343271,1035659,2021-06-15 04:57:59.343271,STANDARD,0xafaFcc50bDB16eA7A6ecc69DEA267cc619E353d1,0xB88Cbf217F5b39762603aD7a6E0c86Bc0Bda1bb9,15.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2021-06-15 04:57:59.343271,43619,42955
2021-06-15 04:59:54.897303,1035660,2021-06-15 04:59:54.897303,STANDARD,0xD6bcBcAfbE21F5Afe5B78EC71E5afBE2811608ad,0xC0bB86A110c331f569f9e81CB4f387cfBF12E4B4,10.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2021-06-15 04:59:54.897303,54891,51284
2021-06-15 05:00:30.887568,1035661,2021-06-15 05:00:30.887568,STANDARD,0x5aCA7747A43Eacfdca0A4C9D97826155dD4a432b,0xe813C88FeC150A79d6b0c2512E0B71f71F5Fd829,20.000000,Sarafu,0x0Fd6e8F2320C90e9D4b3A5bd888c4D556d20AbD4,2021-06-15 05:00:30.887568,45396,45275

In [33]:

# # Apply the lambda function to all numeric columns
# tx_with_bal_bwd[tx_with_bal_bwd.select_dtypes(include='number').columns] = tx_with_bal_bwd.select_dtypes(include='number').apply(
#     lambda x: x.apply(lambda y: 0 if abs(y) < threshold else y)
# )# tx_with_bal_bwd

In [34]:
int(np.log10(txns.weight.min()))

-3

In [36]:
txns[txns.select_dtypes(include='float').columns] = txns.select_dtypes(include='float').apply(
    lambda x: x.round(-int(np.log10(x.min())))
)

txns[txns.select_dtypes(include='float').columns]

                               weight
date
2020-01-25 19:13:17.731529  18000.000
2020-01-25 19:13:19.056070   9047.661
2020-01-25 19:13:20.288346  25378.726
2020-01-25 19:13:21.478850   4495.933
2020-01-26 07:48:43.042684    400.000
...                               ...
2021-06-15 04:46:20.990469     10.000
2021-06-15 04:47:58.072894     10.000
2021-06-15 04:57:59.343271     15.000
2021-06-15 04:59:54.897303     10.000
2021-06-15 05:00:30.887568     20.000

[930161 rows x 1 columns]

In [37]:
PRECISION = 3 #int(-np.log10(all_tx.weight.min()))

users[users.select_dtypes(include='float').columns] = users.select_dtypes(include='float').apply(
    lambda x: x.round(PRECISION)
)

users[users.select_dtypes(include='float').columns]

       final_bal      ovol_in    ovol_out   svol_in  svol_out
0         57.471     9163.661       99.19       0.0    9007.0
1      10853.966    87114.786    44483.92   76850.1  108627.0
2         80.870  6190197.950  6173351.08       0.0   16766.0
3      43228.283    64873.233      365.25  317816.3  339096.0
4        595.320      723.690      458.37     330.0       0.0
...          ...          ...         ...       ...       ...
54994      0.000       50.000        0.00       0.0      50.0
54995     50.000       50.000        0.00       0.0       0.0
54996     30.000       50.000        0.00       0.0      20.0
54997     50.000       50.000        0.00       0.0       0.0
54998     30.000       50.000        0.00       0.0      20.0

[54976 rows x 5 columns]

In [39]:
users[users.select_dtypes(include='float').columns]

          final_bal       ovol_in    ovol_out   svol_in  svol_out
0         57.470892  9.163661e+03       99.19       0.0    9007.0
1      10853.966002  8.711479e+04    44483.92   76850.1  108627.0
2         80.870000  6.190198e+06  6173351.08       0.0   16766.0
3      43228.282576  6.487323e+04      365.25  317816.3  339096.0
4        595.319801  7.236898e+02      458.37     330.0       0.0
...             ...           ...         ...       ...       ...
54994      0.000000  5.000000e+01        0.00       0.0      50.0
54995     50.000000  5.000000e+01        0.00       0.0       0.0
54996     30.000000  5.000000e+01        0.00       0.0      20.0
54997     50.000000  5.000000e+01        0.00       0.0       0.0
54998     30.000000  5.000000e+01        0.00       0.0      20.0

[54976 rows x 5 columns]

Fixing a the problem related to the opening date formatting

In [35]:
users.start

0       2018-10-21 14:20:57.000000
1       2018-10-21 15:38:30.000000
2       2018-10-23 09:09:58.000000
3       2018-10-23 14:10:27.000000
4       2018-10-24 08:17:32.000000
                   ...
54994   2021-06-14 17:27:47.267723
54995   2021-06-14 17:34:17.144344
54996   2021-06-14 18:08:54.760767
54997   2021-06-14 18:57:40.790519
54998   2021-06-14 21:14:54.285784
Name: start, Length: 54976, dtype: datetime64[ns]

### Now they should be ready to be cooked

In [36]:
txns.to_csv('/home/claudio/tesi/sarafu/final_data/txns.csv',index=False)
users.to_csv('/home/claudio/tesi/sarafu/final_data/users.csv',index=False)

In [37]:
dtype_mapping = {
    'int64': 'int',
    'float64': 'float',
    'object': 'string',
    'category': 'category'
}

dtype_dict = {col: dtype_mapping.get(str(txns[col].dtype), str(txns[col].dtype)) for col in txns.columns}

dtype_dict

{'id': 'int',
 'timeset': 'string',
 'transfer_subtype': 'category',
 'source_xdai': 'string',
 'target_xdai': 'string',
 'weight': 'float',
 'token_name': 'category',
 'token_address': 'string',
 'date': 'datetime64[ns]',
 'source': 'int',
 'target': 'int'}

In [38]:
dtype_dict = {col: dtype_mapping.get(str(users[col].dtype), str(users[col].dtype)) for col in users.columns}

dtype_dict

{'id': 'int',
 'start': 'datetime64[ns]',
 'final_bal': 'float',
 'gender': 'category',
 'area_name': 'string',
 'area_type': 'category',
 'held_roles': 'category',
 'business_type': 'category',
 'old_POA_blockchain_address': 'string',
 'xDAI_blockchain_address': 'string',
 'ovol_in': 'float',
 'ovol_out': 'float',
 'otxns_in': 'int',
 'otxns_out': 'int',
 'ounique_in': 'int',
 'ounique_out': 'int',
 'svol_in': 'float',
 'svol_out': 'float',
 'stxns_in': 'int',
 'stxns_out': 'int',
 'sunique_in': 'int',
 'sunique_out': 'int',
 'crid': 'int'}

In [26]:
# txns.to_csv('/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission(1)/sarafu_xDAI/sarafu_txns_20200125-20210615_clean.csv',index=False)
# crid_txns.to_csv('/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission(1)/sarafu_xDAI/sarafu_txns_20200125-20210615_clean_crid.csv',index=False)
# sorted_users.to_csv('/home/claudio/tesi/sarafu/Sarafu2021_UKdb_submission(1)/sarafu_xDAI/sarafu_users_20210615_clean.csv',index=False)

In [ ]:
# sorted_users[sorted_users.xDAI_blockchain_address.isna()]

In [ ]:
# sorted_users[sorted_users.crid == 45396].final_bal,sorted_users[sorted_users.crid == 45275].final_bal